
  #myText{

    border: 0ch;
    background-color:aquamarine;
  
    }


/* Official code */


  #body{
    background-image: url("images/wp3157721-black-wood-wallpaper.jpg");
    font-family: 'Courier New', Courier, monospace ;
    /* Courier M */
    /* Futura, Helvetica, and Gill Sans */
  }

  .volumeSlider{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    
  }

  .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    background: #000;
    outline: none;
    border: 2px solid white;
    border-radius: 8px;
  }

  #volumeTitle{
    padding-left: 57px;
  }

  /* .center {
    margin: auto;
    width: 60%;
    padding: 10px;
    padding-top: 20px;    
    background-color: rgb(124, 119, 119, 0.25);
  } */

  #content{
    color: white;
    padding: 15px;
    margin: auto;
    width: 45%;
    padding: 10px;
    padding-top: 20px;   
  }

  #notes{
    color:rgb(11, 138, 39)
  }

  #ghost{
    color:rgb(200, 0, 0)
  }

  #me{
    color:rgb(160, 200, 0)
  }

  #crash{
    width: auto;
  }